@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400 900;
  src: url("./fonts/Work_Sans.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 75%;

  @media screen and (width > 30em) {
    font-size: 87.5%;
  }

  @media screen and (width > 48em) {
    font-size: 100%;
  }

  @media screen and (width > 79.9375em) {
    font-size: 112.5%;
  }

  @media screen and (width > 120em) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-br: 20px;
  --base-gap: 0.5rem;
  --base-lh: 1.5;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: calc(var(--fw-regular, 400) + 100);
  --fw-semi: calc(var(--fw-medium, 500) + 100);
  --fw-bold: calc(var(--fw-semi, 600) + 100);

  /* Font Stacks */
  --fs-work-sans: "Work Sans", serif;

  /* Colors */
}

body,
html {
  height: 100%;
}

body {
  font-family: var(--fs-work-sans);
  font-size: var(--base-fs);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
}
