/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable declaration-no-important */
@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400 900;
  src: url("./fonts/Space_Grotesk.woff2") format("woff2"),
    url("./fonts/Space_Grotesk.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 75%;

  @media screen and (width > 30em) {
    font-size: 87.5%;
  }

  @media screen and (width > 48em) {
    font-size: 100%;
  }

  @media screen and (width > 79.9375em) {
    font-size: 112.5%;
  }

  @media screen and (width > 120em) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-br: 20px;
  --base-gap: 0.5rem;
  --base-lh: 1.5;

  /* Font Weights */
  --fw-regular: 400;
  --fw-medium: calc(var(--fw-regular, 400) + 100);
  --fw-semi: calc(var(--fw-medium, 500) + 100);
  --fw-bold: calc(var(--fw-semi, 600) + 100);

  /* Font Stacks */
  --fs-space-grotesk: "Space Grotesk", sans-serif;

  /* Colors */
}

body,
html {
  height: 100%;
}

body {
  background-color: hwb(20 80% 15%);
  font-family: var(--fs-space-grotesk);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hwb(0 44% 55%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: semi !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: calc(var(--base-gap) * 2);
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.category-btn:hover {
  background-color: hwb(4 1% 1%) !important;
  color: hwb(0 100% 0%) !important;
}

.category-btn:hover span {
  color: hwb(0 100% 0%) !important;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }
}
